/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px !important;
}

hr {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 50px;
}

.big-icon {
  color: #bbbbbb;
  font-size: 60px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f0f0f0;
}

.footer-left {
  margin-left: 50px;
}

.footer-right {
  margin-right: 50px;
}

.footer-icon {
  font-size: 24px !important;
}

#info-blurb {
  padding-right: 30px;
}

.info-row {
  margin-bottom: 30px;
  width: 80%;
}

#avatar {
  max-height: 150px;
}